<%= f.errors %>
<%= f.text_field :title %>
<%= f.text_area :description %>
<%= f.select :difficulty, Contest.difficulties.keys %>

<%= f.label :startDate %><br>
<%= f.datetime_select :startDate %>
<br>
<%= f.label :endDate %><br>
<%= f.datetime_select :endDate %>


<div class="field">
  <h4>Problemas del contest: </h4>
  <%= collection_check_boxes(:contest, :problem_ids, Problem.all, :id, :name) %>
</div>