
<% if user_can_edit %>
    <div class="top-float-button top-space">
      <a class="btn btn-danger btn-fab" style="background-color: #CC342D;" data-toggle="modal" data-target="#myModal">
        <i class="material-icons">add</i>
      </a>
    </div>
<% end %>
<% if @contests.length > 0 %>
    <div class="top-space"></div>
    <%= render @contests %>
    <%= paginate @contests %>
<% else %>
    <%= render "shared/empty_collection", message: "Ups, aun no hay ninguna competencia, vuelve más tarde." %>
<% end %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva competencia</h4>
      </div>
      <%= form_for(@new_contest, builder: BootstrapFormBuilder) do |f| %>
        <div class="modal-body">
          <%= render "contests/fields", f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>          
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
      <% end %>
    </div>
  </div>
</div>