<div class="fresh-table toolbar-color-red">
  <div class="toolbar" style="display: none">
  </div>

  <table id="fresh-table" class="table">
    <thead>
    <th data-field="id">#</th>
    <th data-field="name">Email</th>
    <% @problems.each do |problem| %>
      <%= content_tag(:th,problem.name,data: {field: problem.baseName}) %>
    <% end %>
    </thead>
    <tbody>
    <% u = @user_scores%>
    <% @user_scores.each_with_index do |user_score,i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= user_score.user.email%></td>
        <% @color_cache.each do |cache| %>
          <td>
            <%= flag_and_tries user_score, cache%>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!-- Div for modal -->
<div id="modal_create_solution">
  <%= render "contests/modal_form", contest: @contest %>
</div>