<p>
  <strong>Title:</strong>
  <%= @contest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contest.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @contest.difficulty %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @contest.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @contest.endDate %>
</p>
<p>
  <strong>Problems:</strong>
  <% @contest.problems.each do |problem|%>
    <%= problem.name %>
    <br/>
  <% end %>
</p>
<%= subscribe_link %>
<%= submit_link %>
<%= link_to 'Scoreboard', scoreboard_contest_path(@contest) %>
<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
