<div class="top-space"> </div>
<div class="row no-float">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel">
      <div class="panel-heading" style="background-color: #1c3b6d;">
        <h3 class="panel-title white-text"><%= link_to t('models.problems'), problems_path %> &raquo;  <%= problem.name %> </h3>
      </div>
      <div class="panel-body">
        <p>
          <strong>Name:</strong>
          <%= problem.name %>
        </p>
        <% if problem.is_codeforces? %>
            <%= link_to("Ir al problema", codeforces_url(problem)) %>
        <% else %>
            <p>
              <strong>Color:</strong>
              #<%= problem.color %>
            </p>

            <p>
              <strong>Timelimit:</strong>
              <%= problem.timeLimit %>
            </p>
        <% end %>
        <p>
          <% if problem.descriptionFile.file %>
              <strong>Descriptionfile:</strong>
              <%= content_or_link(problem, :descriptionFile) %>
          <% end %>
        </p>

        <% if problem.tags.size > 0 %>
            <p>Tags:
              <%= content_tag(:pre, content_tag(:code, problem.tags.join(", ")), class: "nohighlight") %>
            </p>
        <% else %>
            <p>No hay tags para este problema.</p>
        <% end %>

      </div>
      <div class="panel-footer"><%= problem_actions problem%></div>
    </div>
  </div>
</div>
