<%= display_add_problem_button %>
<% if @problems.size > 0 %>
    <div class="top-space"></div>
    <%= render @problems %>
    <%= paginate @problems %>
<% else %>
    <%= render "shared/empty_collection", message: "Ups, no hay problemas, vuelve más tarde" %>
<% end %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo problema</h4>
      </div>
      <%= create_problem_modal_body @new_problem %>
    </div>
  </div>
</div>