<div class="top-space"> </div>
<div class="row no-float">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel">
      <div class="panel-heading" style="background-color: #1c3b6d;">
        <h3 class="panel-title white-text"><%= link_to 'Usuarios', users_path %> &raquo;  <%= user.email %> </h3>
      </div>
      <div class="panel-body">
        <%= form_for(user, html: { multipart: true }, builder: BootstrapFormBuilder) do |f| %>
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :admin %>            
            <%= f.toggle_button :admin %>
          </div>

          
          <div class="actions">
            <%= f.submit "Confirmar" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <ul class="list-inline">
          <li><%= link_to 'Show', @user %></li>
          <li><%= link_to 'Back', users_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>








 




