<div class="top-space white"></div>
<div class="row no-float">
  <div class="col-md-10 col-md-offset-1 white medium-padding">
    <div class="col-md-3">
      <div class="rigth-border">
        <div class="profile-photo center-block text-center">
          <%= image_tag("blank_profile.png") %>
        </div>
        <% if @stadistics %>
          <p><strong>Ha participado en: </strong><br><%= @stadistics.total_contests %> competencias</p>
        <%else%>
          <p><strong>No ha participado en competencias</strong></p>
        <% end %>
        <p><strong>Problemas resueltos:</strong><br><%= @total_solved %></p>
      </div>

    </div>
    <div class="col-md-9">
      <p>
        <span class="big"><strong><%= @user.email %></strong></span><%= icon_link("glyphicon-pencil", edit_user_path(@user)) if @user == current_user %>
      </p>
      <p><span class="medium">Estadísticas del usuario</span></p>
      <div class="col-md-6">
        <%= content_tag :div, nil, class: :chart, id: "user_answers_chart", data: {stadistics: @stadistics} %>
      </div>
      <div class="col-md-6">
        <% if @stadistics %>
          <p>OK= <%= @stadistics.total_ok %></p>
          <p>WA= <%= @stadistics.total_wa %></p>
          <p>RE= <%= @stadistics.total_re %></p>
          <p>CE= <%= @stadistics.total_ce %></p>
          <p>TLE= <%= @stadistics.total_tle %></p>
          <p>Ha participado en: <%= @stadistics.total_contests %> competencias</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
