<div class="navbar no-margin">
  <div class="container-fluid red">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("logo-red.png", height: "50px"), root_path) %>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">La competencia termina en
          <time data-time="<%= @contest.endDate.strftime('%Y-%m-%d %H:%M') %>"></time>
        </a></li>
        <li class="<%= 'active' if action_name == 'problems' %>"><%= link_to t("models.problems"), problems_contest_path(@contest) %></li>
        <li class="<%= 'active' if action_name == 'scoreboard' %>"><%= link_to "Scoreboard",  scoreboard_contest_path(@contest) %></li>
        <% if current_user && (@contest.easy? || @contest.medium?) %>
            <li class="<%= 'active' if action_name == 'solutions' %>"><%= link_to "Mis soluciones", contest_solutions_path(@contest) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <!-- Button trigger modal -->
            <% if @contest.users.exists? current_user.try(:id) %>
                <a class="btn btn-default" data-toggle="modal" data-target="#modal_form_solution">
                  <i class="fa fa-paper-plane white-text"></i>
                </a>
            <% end %>
        <% end %>
        <%= user_menu %>
      </ul>
    </div>
  </div>
</div>