<header class="red big-padding">

  <div class="top-space medium-padding"></div>
  <div class="col-md-10 no-float center-block">
    <div class="col-md-6 no-padding inline-block">
      <h1 class="white-text ultra-big kostic"><strong><%= t("slogan") %></strong></h1>
    </div>
    <div class="col-md-5 inline-block">
      <%= image_tag("logoCHJ_negro.png") %>
    </div>
  </div>
  <div class="top-space medium-padding"></div>
</header>

<div class="grey white-text kostic big-padding">
  <div class="col-md-10 no-float center-block">
    <div class="absolute hidden-sm hidden-xs" style="bottom:-4.5em;width:100%;left:0px">
      <div class="text-center big">
        <div class="col-md-3 inline-block">
          <div class="white grey-text circle"><strong>1</strong></div>
        </div>
        <div class="col-md-3 inline-block">
          <div class="white grey-text circle"><strong>2</strong></div>
        </div>
        <div class="col-md-3 inline-block">
          <div class="white grey-text circle"><strong>3</strong></div>
        </div>
      </div>
    </div>
    <h2 class="bigger text-center"><strong><%= t("three_steps.title") %></strong></h2>
    <div class="text-center">
      <div class="col-md-3 inline-block text-left" style="vertical-align: top; width: 200px;">
        <%= image_tag("icono_mas.png", class: "col-md-10 inline-block") %>
        <div class="top-space">
          <strong class="medium">
            <%= t("three_steps.first_title") %>
          </strong>
          <p class="white-text text-justify small"><%= t("three_steps.first_description") %></p>
        </div>
      </div>
      <div class="col-md-3 inline-block text-left" style="vertical-align: top; width: 200px">
        <%= image_tag("icono_tiempo.png", class: "col-md-10 inline-block") %>
        <div class="top-space">
          <strong class="medium">
            <%= t("three_steps.second_title") %>
          </strong>
          <p class="white-text text-justify small"><%= t("three_steps.second_description") %></p>
        </div>
      </div>
      <div class="col-md-3 inline-block text-left" style="vertical-align: top; width: 200px;  ">
        <%= image_tag("icono_enviar.png", class: "col-md-10 inline-block") %>
        <div class="top-space">
          <strong class="medium">
            <%= t("three_steps.third_title") %>
          </strong>
          <p class="white-text text-justify small"><%= t("three_steps.third_description") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="green white-text big-padding kostic" style="margin-top: 5em">
  <div class="col-md-8 no-float text-center center-block">
    <%= image_tag("media-icons.png") %>
    <p class="medium col-md-11 center-block no-float top-space">
      <strong><%= t("media_files") %></strong>
    </p>
  </div>
</div>

