<header class="red big-padding">
  <div class="col-md-10 no-float center-block">
    <div class="col-md-6 no-padding inline-block">
      <%= image_tag("logo-red.png", width: 350) %>
      <h1 class="white-text ultra-big kostic"><strong>Competencias de programaci칩n</strong></h1>
    </div>
    <div class="col-md-5 inline-block">
      <%= image_tag("mono.png") %>
    </div>
  </div>
</header>

<div class="grey white-text kostic big-padding">
  <div class="col-md-10 no-float center-block">
    <div class="absolute hidden-sm hidden-xs" style="bottom:-4.5em;width:100%;left:0px">
      <div class="text-center big">
        <div class="col-md-3 inline-block">
          <div class="white grey-text circle"><strong>1</strong></div>
        </div>
        <div class="col-md-3 inline-block">
          <div class="white grey-text circle"><strong>2</strong></div>
        </div>
        <div class="col-md-3 inline-block">
          <div class="white grey-text circle"><strong>3</strong></div>
        </div>
      </div>
    </div>
    <h2 class="bigger text-center"><strong>Competencias en 3 pasos</strong></h2>
    <div class="text-center">
      <div class="col-md-3 inline-block text-left">
        <%= image_tag("upload-icon.png", class: "col-md-10 inline-block") %>
        <div class="top-space">
          <strong class="medium">
            Sube tus problemas
          </strong>
          <p class="white-text text-justify small">Agrega problemas al repositorio o elige desde codeforces.com los que
            desees agregar a las competencias.</p>
        </div>
      </div>
      <div class="col-md-3 inline-block text-left">
        <%= image_tag("upload-icon.png", class: "col-md-10 inline-block") %>
        <div class="top-space">
          <strong class="medium">
            Configura la competencia
          </strong>
          <p class="white-text text-justify small">Define tiempos, fechas y esos peque침os detalles.</p>
        </div>
      </div>
      <div class="col-md-3 inline-block text-left">
        <%= image_tag("upload-icon.png", class: "col-md-10 inline-block") %>
        <div class="top-space">
          <strong class="medium">
            Soluciona los problemas
          </strong>
          <p class="white-text text-justify small">Invita gente, dales correos, reparte galletas y todos a programar en
            el nuevo contest.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="green white-text big-padding kostic" style="margin-top: 5em">
  <div class="col-md-8 no-float text-center center-block">
    <%= image_tag("media-icons.png") %>
    <p class="medium col-md-11 center-block no-float top-space">
      <strong>Acompa침a tus ejercicios con los archivos multimedia que necesites: pdf, docx, mp4, xlsx, zip, rar y
        m치s! </strong>
    </p>
  </div>
</div>

