<p id="notice"><%= notice %></p>
<div class="top-space white"></div>
<div class="row no-float">
  <div class="col-md-10 col-md-offset-1 white medium-padding">
    <p>
      <span class="big"><strong>Soluciones</strong></span>
    </p>

    <table class="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Problem</th>
        <th>Language</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @solutions.each do |solution| %>
          <tr>
            <td><%= solution.user.email %></td>
            <td><%= solution.problem.name %></td>
            <td><%= solution.language %></td>
            <td><%= code_to_string(solution.status) %></td>
            <td><%= link_to 'Ver', [@contest, solution] %></td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>