<p id="notice"><%= notice %></p>

<h1>Solutions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Problem</th>
      <th>Solutionfile</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.user.email %></td>
        <td><%= solution.problem.name %></td>
        <td><%= solution.solutionFile %></td>
        <td><%= solution.language %></td>
        <td><%= link_to 'Show', solution %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_solution_path %>
