<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @solution.user.email %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem.name %>
</p>

<p>
  <strong>Solutionfile:</strong>
  <%= @solution.solutionFile %>
</p>

<p>
  <strong>Language:</strong>
  <%= @solution.language %>
</p>

<%= link_to 'Back', solutions_path %>
