
<p>
  <strong>User:</strong>
  <%= @solution.user.email %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem.name %>
</p>

<p>
  <strong>Solutionfile:</strong>
  <%= content_or_link(@solution, :solutionFile) %>
</p>

<p>
  <strong>Language:</strong>
  <%= @solution.language %>
</p>
<% if (@contest.easy? || @contest.medium?) && @solution.status != 4 %>
    <p>
      <strong>Failed input case:</strong>
    </p>
    <pre><%= @solution.input %></pre>
    <% if @contest.easy? %>
        <p>
          <strong>Real output:</strong>
        </p>
        <pre><%= @solution.output %></pre>
        <p>
          <strong>Your output:</strong>
        </p>
        <pre><%= @solution.user_output %></pre>
    <% end %>
<% end %>
<%= link_to 'Back', contest_solutions_path(@contest) %>
