
<p>
  <strong>User:</strong>
  <%= @solution.user.email %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem.name %>
</p>

<p>
  <strong>Solutionfile:</strong>
  <%= @solution.solutionFile %>
</p>

<p>
  <strong>Language:</strong>
  <%= @solution.language %>
</p>
<% if @contest.easy? || @contest.medium? %>
    <p>
      <strong>Failed input case:</strong>
    </p>
    <pre><%= @solution.input %></pre>
    <% if @contest.easy? %>
        <p>
          <strong>Real output:</strong>
          <%= @solution.output %>
        </p>
        <p>
          <strong>Your output:</strong>
          <%= @solution.user_output %>
        </p>
    <% end %>
<% end %>
<%= link_to 'Back', contest_solutions_path(@contest) %>
